.textBg {
  font-size: min(18vw, 16rem);
  color: #bdbdbd;
  font-family: var(--font-anton), sans-serif;
  letter-spacing: 0.05em;
  opacity: 0.18;
  user-select: none;
  line-height: 1;
  width: 100vw;
  // height: 100vh;
  text-align: center;
  -webkit-text-stroke: 2px #bdbdbd;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}
